@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full flex flex-col;
}

body {
  @apply bg-gray-300 h-full flex-grow flex flex-col items-center xl:py-5;
  background-image: url("/background.jpg");
  background-size: cover;
  background-position: center;
}

main {
  @apply flex flex-grow items-stretch w-full bg-white;
  max-width: 1600px;
}

[data-nextjs-scroll-focus-boundary] {
  display: contents;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-medium;
}

form {
  display: flex;
  flex-direction: column;
}

.nav-header {
  @apply p-2 bg-rose-900 border-b border-rose-900 text-white;
}

input[type="text"],
input[type="url"],
textarea {
  @apply p-1 border-gray-200 border flex-1 text-sm w-full;
}

textarea {
  @apply rounded-md;
}

.markdown p {
  margin-bottom: 8px;
}

.link {
  @apply text-blue-700;
}

.markdown a {
  @apply text-blue-700 underline;
}

.markdown li {
  @apply list-disc list-inside;
}
